<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sections</key>
	<array>
		<dict>
			<key>title</key>
			<string>第一区</string>
			<key>ListItems</key>
			<array>
				<dict>
					<key>title</key>
					<string>推送设置</string>
					<key>NextVCName</key>
					<string>PushSetingViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>第二区</string>
			<key>ListItems</key>
			<array>
				<dict>
					<key>title</key>
					<string>关于应用</string>
					<key>NextVCName</key>
					<string>PushSetingViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>免责声明</string>
					<key>NextVCName</key>
					<string>PushSetingViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>帮助中心</string>
					<key>NextVCName</key>
					<string>PushSetingViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>第三区</string>
			<key>ListItems</key>
			<array>
				<dict>
					<key>title</key>
					<string>意见反馈</string>
					<key>NextVCName</key>
					<string>PushSetingViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>联系我们</string>
					<key>NextVCName</key>
					<string>PushSetingViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>推荐应用</string>
					<key>NextVCName</key>
					<string>PushSetingViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>短信分享</string>
					<key>NextVCName</key>
					<string>PushSetingViewController</string>
				</dict>
				<dict>
					<key>title</key>
					<string>软件分享</string>
					<key>NextVCName</key>
					<string>PushSetingViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>第四区</string>
			<key>ListItems</key>
			<array>
				<dict>
					<key>title</key>
					<string>清除缓存</string>
					<key>NextVCName</key>
					<string>PushSetingViewController</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
